#第一次讀入CSV

In [3]:
import pandas as pd
df = pd.read_csv('W02_test.csv')
df.head()

,學年度,設立別,學校類別,學校統計處代碼,學校名稱,系所代碼,系所名稱,學制班別,寒假實習-人次-男,寒假實習-人次-女,...,暑期實習-總時數,全學期/單一學期-人次-男,全學期/單一學期-人次-女,全學期/單一學期-總時數,學期期間實習-人次-男,學期期間實習-人次-女,學期期間實習-總時數,全學年實習-人數-男,全學年實習-人數-女,全學年實習-總時數
0,110,公立,一般大學,4,國立臺灣師範大學,1141007,人類發展與家庭學系,碩士班(日間),0,0,...,160.0,0,0,0.0,0,0,0.0,0,2,140.0
1,110,公立,一般大學,4,國立臺灣師範大學,1141007,人類發展與家庭學系,學士班(日間),0,0,...,11520.0,0,0,0.0,7,54,4270.0,0,0,0.0
2,110,公立,一般大學,4,國立臺灣師範大學,1118010,工業教育學系,碩士班(日間),0,0,...,276.0,0,0,0.0,0,0,0.0,0,0,0.0
3,110,公立,一般大學,4,國立臺灣師範大學,1118010,工業教育學系,學士班(日間),0,0,...,0.0,0,0,0.0,7,1,15360.0,0,0,0.0
4,110,公立,一般大學,4,國立臺灣師範大學,5111056,生命科學系,學士班(日間),0,0,...,3063.0,1,0,400.0,0,0,0.0,0,0,0.0