###105~110學年雙主修
[資料來源](https://udb.moe.edu.tw/udata/DetailReportList/%E5%AD%B8%E7%94%9F%E9%A1%9E/SirdStudySituationDoubleMajor/Index)  
[大專院校名錄](https://data.gov.tw/dataset/6091)

In [84]:
import pandas as pd
#雙主修資料匯入
file = "DoubleMajor(105~110).csv"
df = pd.read_csv(file)
df.head()

,學年度,學期,設立別,學校類別,學校統計處代碼,學校名稱,系所代碼,系所名稱,學制班別,修讀雙主修人次小計,修讀雙主修人次男,修讀雙主修人次女
0,105,1,公立,一般大學,1,國立政治大學,01111001,教育學系,學士班(日間),49,18,31
1,105,1,公立,一般大學,1,國立政治大學,02221020,歷史學系,學士班(日間),29,19,10
2,105,1,公立,一般大學,1,國立政治大學,02222031,民族學系,學士班(日間),37,7,30
3,105,1,公立,一般大學,1,國立政治大學,02231022,哲學系,學士班(日間),30,10,20
4,105,1,公立,一般大學,1,國立政治大學,02311009,英國語文學系,學士班(日間),52,17,35

In [85]:
regiondata = "college_region.csv"
#大專院校資料匯入
dfRegion = pd.read_csv(regiondata)
dfRegion.head()

,代碼,學校名稱,公/私立,縣市名稱,地址,電話,網址,體系別
0,1,國立政治大學,公立,[38]臺北市,[116]臺北市文山區指南路二段64號,(02)29393091,http://www.nccu.edu.tw,[1]一般
1,2,國立清華大學,公立,[18]新竹市,[300]新竹市東區光復路二段101號,(03)5715131,http://www.nthu.edu.tw,[1]一般
2,3,國立臺灣大學,公立,[33]臺北市,[106]臺北市大安區羅斯福路四段1號,(02)33663366,http://www.ntu.edu.tw,[1]一般
3,4,國立臺灣師範大學,公立,[33]臺北市,[106]臺北市大安區和平東路一段162號,(02)77491111,http://www.ntnu.edu.tw,[3]師範
4,5,國立成功大學,公立,[21]臺南市,[701]臺南市東區大學路1號,(06)2757575,http://www.ncku.edu.tw,[1]一般

1. 雙主修的男女比(全部) (V)
2. 公私立學校雙主修的數量比(?) (V)
3. 一般大學&技專校院的雙主修人數 (V)
4. 各學期雙主修人數的趨勢 (V)
5. 各學群/類組的雙主修數量(要有學群/類組對照科系的資料)(找不到QQ)
6. 不同地區雙主修的比例(?) (要有地區學校資料)(還在研究怎麼對照) (V)
7. 五專、博士班、碩士班(日間)、碩士在職專班、學士班(日間)、學士班(進修)各年度(學制班別)
8. 各年度男女雙主修的趨勢 (V)
9. 
10.

In [86]:
#雙主修的男女比(全部)
sex = df[['修讀雙主修人次男', '修讀雙主修人次女', '修讀雙主修人次小計']].sum().reset_index()
sex

       index       0
0   修讀雙主修人次男   56610
1   修讀雙主修人次女   88092
2  修讀雙主修人次小計  144702

1. 各學校雙主修的男女比

In [111]:
#各學校雙主修男女比
collegesex = df[['學校名稱', '修讀雙主修人次男', '修讀雙主修人次女', '修讀雙主修人次小計']].groupby(['學校名稱']).sum().reset_index()
collegesex = collegesex.assign(男女比 = collegesex['修讀雙主修人次男'] / collegesex['修讀雙主修人次女'])
collegesex

       學校名稱  修讀雙主修人次男  修讀雙主修人次女  修讀雙主修人次小計       男女比
0      世新大學       458      1702       2160  0.269095
1      中原大學       474      1217       1691  0.389482
2    中國文化大學      1118      2543       3661  0.439638
3    中國科技大學         5        38         43  0.131579
4    中國醫藥大學      2716      2715       5431  1.000368
..      ...       ...       ...        ...       ...
120    靜宜大學      2370      3172       5542  0.747163
121  高苑科技大學         9         1         10  9.000000
122  高雄醫學大學       178       448        626  0.397321
123  黎明技術學院         0         9          9  0.000000
124  龍華科技大學        39        19         58  2.052632

[125 rows x 5 columns]

2. 各年度男女雙主修的趨勢

In [88]:
#各年度男女雙主修的趨勢
yearsex = df[['學年度', '修讀雙主修人次男', '修讀雙主修人次女', '修讀雙主修人次小計']].groupby(['學年度']).sum().reset_index()
yearsex

   學年度  修讀雙主修人次男  修讀雙主修人次女  修讀雙主修人次小計
0  105      8911     14597      23508
1  106      8473     14063      22536
2  107      9486     14646      24132
3  108      9630     14468      24098
4  109      9682     14767      24449
5  110     10428     15551      25979

3. 各學校不同學年的雙主修男女比

In [89]:
#各學校不同學年的雙主修男女比
collegeyearsex = df[['學年度', '學校名稱', '修讀雙主修人次男', '修讀雙主修人次女', '修讀雙主修人次小計']].groupby(['學校名稱', '學年度']).sum().reset_index()
collegeyearsex

       學校名稱  學年度  修讀雙主修人次男  修讀雙主修人次女  修讀雙主修人次小計
0      世新大學  105        53       291        344
1      世新大學  106        72       289        361
2      世新大學  107        73       266        339
3      世新大學  108        86       274        360
4      世新大學  109        73       283        356
..      ...  ...       ...       ...        ...
659  龍華科技大學  106         5         0          5
660  龍華科技大學  107         8         2         10
661  龍華科技大學  108         3         2          5
662  龍華科技大學  109         9         4         13
663  龍華科技大學  110        10         4         14

[664 rows x 5 columns]

4. 各學年公私立雙主修趨勢

In [90]:
#各學年公私立雙主修趨勢
establish = df[['學年度', '設立別', '修讀雙主修人次男', '修讀雙主修人次女', '修讀雙主修人次小計']].groupby(['設立別', '學年度']).sum().reset_index()
establish

   設立別  學年度  修讀雙主修人次男  修讀雙主修人次女  修讀雙主修人次小計
0   公立  105      5275      7414      12689
1   公立  106      4830      6866      11696
2   公立  107      6088      7891      13979
3   公立  108      6412      8068      14480
4   公立  109      6486      8470      14956
5   公立  110      6986      8975      15961
6   私立  105      3636      7183      10819
7   私立  106      3643      7197      10840
8   私立  107      3398      6755      10153
9   私立  108      3218      6400       9618
10  私立  109      3196      6297       9493
11  私立  110      3442      6576      10018

5. 一般大學、技專校院各學年雙主修趨勢

In [91]:
#一般大學、技專校院各學年雙主修趨勢
typeofcollege = df[['學年度', '學校類別', '修讀雙主修人次男', '修讀雙主修人次女', '修讀雙主修人次小計']].groupby(['學校類別', '學年度']).sum().reset_index()
typeofcollege

    學校類別  學年度  修讀雙主修人次男  修讀雙主修人次女  修讀雙主修人次小計
0   一般大學  105      8354     13295      21649
1   一般大學  106      7745     12660      20405
2   一般大學  107      8703     13300      22003
3   一般大學  108      8892     13247      22139
4   一般大學  109      8937     13514      22451
5   一般大學  110      9628     14277      23905
6   技專校院  105       557      1302       1859
7   技專校院  106       728      1403       2131
8   技專校院  107       783      1346       2129
9   技專校院  108       738      1221       1959
10  技專校院  109       745      1253       1998
11  技專校院  110       800      1274       2074

6. 各學年不同學制雙主修

In [93]:
#各學年不同學制雙主修
schoolsystem = df[['學年度', '學制班別', '修讀雙主修人次男', '修讀雙主修人次女', '修讀雙主修人次小計']].groupby(by=['學制班別', '學年度']).sum().reset_index()
schoolsystem

       學制班別  學年度  修讀雙主修人次男  修讀雙主修人次女  修讀雙主修人次小計
0        五專  105         0         2          2
1        五專  106         0         1          1
2        五專  107         0         2          2
3        五專  108         0         2          2
4        五專  109         2        26         28
5        五專  110         4        41         45
6       博士班  107         0         2          2
7       博士班  110         2         1          3
8   學士班(日間)  105      8790     14364      23154
9   學士班(日間)  106      8341     13859      22200
10  學士班(日間)  107      9349     14445      23794
11  學士班(日間)  108      9493     14267      23760
12  學士班(日間)  109      9535     14558      24093
13  學士班(日間)  110     10091     15151      25242
14  學士班(進修)  105       120       230        350
15  學士班(進修)  106       132       203        335
16  學士班(進修)  107       134       188        322
17  學士班(進修)  108       135       198        333
18  學士班(進修)  109       134       183        317
19  學士班(進修)  110       149       188        337
20   碩士在職專班  107         2         8         10
21  碩士班(日間)  105         1         1          2
22  碩士班(日間)  107         1         1          2
23  碩士班(日間)  108         2         1          3
24  碩士班(日間)  109        11         0         11
25  碩士班(日間)  110       182       170        352

7. 各科系雙主修男女比

In [115]:
#各科系雙主修男女
departmentsex = df[['學校名稱', '系所名稱', '修讀雙主修人次男', '修讀雙主修人次女', '修讀雙主修人次小計']].groupby(['系所名稱', '修讀雙主修人次小計']).sum().reset_index()
departmentsex = departmentsex.assign(男女比 = departmentsex['修讀雙主修人次男'] / departmentsex['修讀雙主修人次女'])
departmentsex

                系所名稱  修讀雙主修人次小計  修讀雙主修人次男  修讀雙主修人次女       男女比
0             不分系學士班         42        22        20  1.100000
1             不分系學士班         62        30        32  0.937500
2     不分系學士班_不分系學士專班          2         2         0       inf
3            不動產經營學系          1         2         0       inf
4         不動產與城鄉環境學系          2         0         2  0.000000
...              ...        ...       ...       ...       ...
5440      高齡及長期照護事業系         35        15        20  0.750000
5441      高齡及長期照護事業系         45        18        27  0.666667
5442      高齡及長期照護事業系         47        19        28  0.678571
5443      高齡及長期照護事業系         53        31        75  0.413333
5444       高齡福祉養生管理系          1         0         2  0.000000

[5445 rows x 5 columns]

8. 各科系雙主修趨勢

In [94]:
#各科系雙主修趨勢
departmentyear = df[['學年度', '系所名稱', '修讀雙主修人次男', '修讀雙主修人次女', '修讀雙主修人次小計']].groupby(['學年度', '系所名稱']).sum().reset_index()
departmentyear

      學年度             系所名稱  修讀雙主修人次男  修讀雙主修人次女  修讀雙主修人次小計
0     105           不分系學士班        22        20         42
1     105       不動產與城鄉環境學系        46        47         93
2     105           中國戲劇學系         5         1          6
3     105           中國文學學系        15        79         94
4     105            中國文學系       226       673        899
...   ...              ...       ...       ...        ...
4307  110    高瞻科技不分系學士學位學程         8         8         16
4308  110         高齡健康管理學系         5        28         33
4309  110  高齡健康與運動科學學士學位學程         1         0          1
4310  110       高齡及長期照護事業系        10        53         63
4311  110        高齡福祉養生管理系         0         2          2

[4312 rows x 5 columns]

9. 每年最多雙主修的科系

In [100]:
#每年最多雙主修的科系
max_dept = departmentyear[['學年度','系所名稱','修讀雙主修人次小計']].loc[departmentyear.groupby('學年度')['修讀雙主修人次小計'].idxmax()].reset_index()
max_dept

   index  學年度  系所名稱  修讀雙主修人次小計
0      7  105  中醫學系       1459
1    670  106  中醫學系       1459
2   1342  107  中醫學系       1419
3   2042  108  中醫學系       1362
4   2766  109  中醫學系       1216
5   3527  110  中醫學系        928

In [96]:
#加上縣市作為參照
dfregion = pd.merge(df, dfRegion.loc[:,['學校名稱','縣市名稱']],how = 'left', on = '學校名稱')
dfregion

,學年度,學期,設立別,學校類別,學校統計處代碼,學校名稱,系所代碼,系所名稱,學制班別,修讀雙主修人次小計,修讀雙主修人次男,修讀雙主修人次女,縣市名稱
0,105,1,公立,一般大學,1,國立政治大學,01111001,教育學系,學士班(日間),49,18,31,[38]臺北市
1,105,1,公立,一般大學,1,國立政治大學,02221020,歷史學系,學士班(日間),29,19,10,[38]臺北市
2,105,1,公立,一般大學,1,國立政治大學,02222031,民族學系,學士班(日間),37,7,30,[38]臺北市
3,105,1,公立,一般大學,1,國立政治大學,02231022,哲學系,學士班(日間),30,10,20,[38]臺北市
4,105,1,公立,一般大學,1,國立政治大學,02311009,英國語文學系,學士班(日間),52,17,35,[38]臺北市
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15993,110,2,公立,一般大學,3002,臺北市立大學,10141060,球類運動學系,學士班(日間),3,1,2,[35]臺北市
15994,110,2,公立,一般大學,3002,臺北市立大學,10141062,陸上運動學系,學士班(日間),1,1,0,[35]臺北市
15995,110,2,公立,一般大學,3002,臺北市立大學,10141063,水上運動學系,學士班(日間),9,4,5,[35]臺北市
15996,110,2,公立,一般大學,3002,臺北市立大學,10142052,運動健康科學系,學士班(日間),1,1,0,[35]臺北市
15997,110,2,公立,一般大學,3002,臺北市立大學,10152050,休閒運動管理學系,學士班(日間),6,3,3,[35]臺北市

In [116]:
region = dfregion[['縣市名稱', '修讀雙主修人次男', '修讀雙主修人次女', '修讀雙主修人次小計']].groupby(by=['縣市名稱']).sum().reset_index()
region

       縣市名稱  修讀雙主修人次男  修讀雙主修人次女  修讀雙主修人次小計
0   [01]新北市      5615     10449      16064
1   [02]宜蘭縣       112       138        250
2   [03]桃園市      3591      4519       8110
3   [05]苗栗縣       111        79        190
4   [06]臺中市      2636      3856       6492
5   [07]彰化縣       355       711       1066
6   [08]南投縣       435       787       1222
7   [09]雲林縣        41        67        108
8   [10]嘉義縣      1618      2812       4430
9   [11]臺南市       599       893       1492
10  [12]高雄市       580      1746       2326
11  [13]屏東縣       111       145        256
12  [14]臺東縣        57        79        136
13  [15]花蓮縣      1999      3099       5098
14  [16]澎湖縣         2         1          3
15  [17]基隆市       757       651       1408
16  [18]新竹市      3047      2090       5137
17  [19]臺中市      5550      8142      13692
18  [20]嘉義市       114       182        296
19  [21]臺南市      2604      2300       4904
20  [32]臺北市       157       370        527
21  [33]臺北市     12283     13685      25968
22  [34]臺北市        36       126        162
23  [35]臺北市       335       565        900
24  [38]臺北市      6706     13035      19741
25  [40]臺北市         6        14         20
26  [41]臺北市      4011      9488      13499
27  [42]臺北市        19        69         88
28  [52]高雄市       381       505        886
29  [54]高雄市        58       176        234
30  [55]高雄市       363       808       1171
31  [58]高雄市       256       541        797
32  [61]高雄市         9         6         15
33  [71]金門縣        38        51         89

10. 各學年各縣市雙主修的數量

In [118]:
#各學年各縣市雙主修的數量
regionyear = dfregion[['學年度', '縣市名稱', '修讀雙主修人次男', '修讀雙主修人次女', '修讀雙主修人次小計']].groupby(by=['縣市名稱', '學年度']).sum().reset_index()
regionyear

        縣市名稱  學年度  修讀雙主修人次男  修讀雙主修人次女  修讀雙主修人次小計
0    [01]新北市  105       927      1841       2768
1    [01]新北市  106       966      1737       2703
2    [01]新北市  107       986      1666       2652
3    [01]新北市  108       919      1668       2587
4    [01]新北市  109       909      1756       2665
..       ...  ...       ...       ...        ...
191  [71]金門縣  105         3         1          4
192  [71]金門縣  106         2         4          6
193  [71]金門縣  108         3         6          9
194  [71]金門縣  109         6        16         22
195  [71]金門縣  110        24        24         48

[196 rows x 5 columns]