###105~110學年雙主修
[資料來源](https://udb.moe.edu.tw/udata/DetailReportList/%E5%AD%B8%E7%94%9F%E9%A1%9E/SirdStudySituationDoubleMajor/Index)
[大專院校名錄](https://data.gov.tw/dataset/6091)

In [58]:
import pandas as pd
file = "DoubleMajor(105~110).csv"
df = pd.read_csv(file)
df.head()

,學年度,學期,設立別,學校類別,學校統計處代碼,學校名稱,系所代碼,系所名稱,學制班別,修讀雙主修人次小計,修讀雙主修人次男,修讀雙主修人次女
0,105,1,公立,一般大學,1,國立政治大學,01111001,教育學系,學士班(日間),49,18,31
1,105,1,公立,一般大學,1,國立政治大學,02221020,歷史學系,學士班(日間),29,19,10
2,105,1,公立,一般大學,1,國立政治大學,02222031,民族學系,學士班(日間),37,7,30
3,105,1,公立,一般大學,1,國立政治大學,02231022,哲學系,學士班(日間),30,10,20
4,105,1,公立,一般大學,1,國立政治大學,02311009,英國語文學系,學士班(日間),52,17,35

In [59]:
regiondata = "college_region.csv"
dfRegion = pd.read_csv(regiondata)
dfRegion.head()

,代碼,學校名稱,公/私立,縣市名稱,地址,電話,網址,體系別
0,1,國立政治大學,公立,[38]臺北市,[116]臺北市文山區指南路二段64號,(02)29393091,http://www.nccu.edu.tw,[1]一般
1,2,國立清華大學,公立,[18]新竹市,[300]新竹市東區光復路二段101號,(03)5715131,http://www.nthu.edu.tw,[1]一般
2,3,國立臺灣大學,公立,[33]臺北市,[106]臺北市大安區羅斯福路四段1號,(02)33663366,http://www.ntu.edu.tw,[1]一般
3,4,國立臺灣師範大學,公立,[33]臺北市,[106]臺北市大安區和平東路一段162號,(02)77491111,http://www.ntnu.edu.tw,[3]師範
4,5,國立成功大學,公立,[21]臺南市,[701]臺南市東區大學路1號,(06)2757575,http://www.ncku.edu.tw,[1]一般

1. 雙主修的男女比(全部)
2. 公私立學校雙主修的數量比(?)
3. 一般大學&技專校院的雙主修人數
4. 各學期雙主修人數的趨勢
5. 各學群的雙主修數量(要有18學群的資料)
6. 不同地區雙主修的比例(?) (要有地區學校資料)
7. 五專、博士班、碩士班(日間)、碩士在職專班、學士班(日間)、學士班(進修)各年度
8. 各年度男女雙主修的趨勢
9. 
10.

In [60]:
#雙主修的男女比(全部)
sex = pd.read_csv(file)[['修讀雙主修人次男', '修讀雙主修人次女', '修讀雙主修人次小計']].sum().reset_index()
sex

       index       0
0   修讀雙主修人次男   56610
1   修讀雙主修人次女   88092
2  修讀雙主修人次小計  144702

In [61]:
#各學校雙主修男女比
collegesex = pd.read_csv(file)[['學校名稱', '修讀雙主修人次男', '修讀雙主修人次女', '修讀雙主修人次小計']].groupby(['學校名稱'])['修讀雙主修人次男','修讀雙主修人次女', '修讀雙主修人次小計'].sum().reset_index()
collegesex

C:\Users\Pang\AppData\Local\Temp\ipykernel_9120\2741945196.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  collegesex = pd.read_csv(file)[['學校名稱', '修讀雙主修人次男', '修讀雙主修人次女', '修讀雙主修人次小計']].groupby(['學校名稱'])['修讀雙主修人次男','修讀雙主修人次女', '修讀雙主修人次小計'].sum().reset_index()

       學校名稱  修讀雙主修人次男  修讀雙主修人次女  修讀雙主修人次小計
0      世新大學       458      1702       2160
1      中原大學       474      1217       1691
2    中國文化大學      1118      2543       3661
3    中國科技大學         5        38         43
4    中國醫藥大學      2716      2715       5431
..      ...       ...       ...        ...
120    靜宜大學      2370      3172       5542
121  高苑科技大學         9         1         10
122  高雄醫學大學       178       448        626
123  黎明技術學院         0         9          9
124  龍華科技大學        39        19         58

[125 rows x 4 columns]

In [62]:
#各年度男女雙主修的趨勢
yearsex = pd.read_csv(file)[['學年度', '修讀雙主修人次男', '修讀雙主修人次女', '修讀雙主修人次小計']].groupby(['學年度'])['修讀雙主修人次男','修讀雙主修人次女', '修讀雙主修人次小計'].sum().reset_index()
yearsex

C:\Users\Pang\AppData\Local\Temp\ipykernel_9120\3226529983.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  yearsex = pd.read_csv(file)[['學年度', '修讀雙主修人次男', '修讀雙主修人次女', '修讀雙主修人次小計']].groupby(['學年度'])['修讀雙主修人次男','修讀雙主修人次女', '修讀雙主修人次小計'].sum().reset_index()

   學年度  修讀雙主修人次男  修讀雙主修人次女  修讀雙主修人次小計
0  105      8911     14597      23508
1  106      8473     14063      22536
2  107      9486     14646      24132
3  108      9630     14468      24098
4  109      9682     14767      24449
5  110     10428     15551      25979

In [63]:
#各學校不同學年的雙主修男女比
collegeyearsex = pd.read_csv(file)[['學年度', '學校名稱', '修讀雙主修人次男', '修讀雙主修人次女', '修讀雙主修人次小計']].groupby(['學校名稱', '學年度'])['修讀雙主修人次男','修讀雙主修人次女', '修讀雙主修人次小計'].sum().reset_index()
collegeyearsex

C:\Users\Pang\AppData\Local\Temp\ipykernel_9120\648247839.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  collegeyearsex = pd.read_csv(file)[['學年度', '學校名稱', '修讀雙主修人次男', '修讀雙主修人次女', '修讀雙主修人次小計']].groupby(['學校名稱', '學年度'])['修讀雙主修人次男','修讀雙主修人次女', '修讀雙主修人次小計'].sum().reset_index()

       學校名稱  學年度  修讀雙主修人次男  修讀雙主修人次女  修讀雙主修人次小計
0      世新大學  105        53       291        344
1      世新大學  106        72       289        361
2      世新大學  107        73       266        339
3      世新大學  108        86       274        360
4      世新大學  109        73       283        356
..      ...  ...       ...       ...        ...
659  龍華科技大學  106         5         0          5
660  龍華科技大學  107         8         2         10
661  龍華科技大學  108         3         2          5
662  龍華科技大學  109         9         4         13
663  龍華科技大學  110        10         4         14

[664 rows x 5 columns]

In [104]:
#不同縣市學校的雙主修比例
region = pd.read_csv(regiondata)[['縣市名稱', '學校名稱', '公/私立']].sort_values(by='縣市名稱').reset_index()
region

     index     縣市名稱      學校名稱 公/私立
0      123  [01]新北市  宏國德霖科技大學   私立
1      132  [01]新北市    黎明技術學院   私立
2       50  [01]新北市      淡江大學   私立
3       47  [01]新北市      輔仁大學   私立
4       86  [01]新北市    明志科技大學   私立
..     ...      ...       ...  ...
143     64  [55]高雄市    高雄醫學大學   私立
144     42  [55]高雄市  國立高雄科技大學   公立
145     11  [58]高雄市  國立高雄師範大學   公立
146     36  [61]高雄市  國立高雄餐旅大學   公立
147     37  [71]金門縣    國立金門大學   公立

[148 rows x 4 columns]

In [97]:
test = merged_df = pd.merge(regiondata, file, on='學校名稱')

TypeError: Can only merge Series or DataFrame objects, a <class 'str'> was passed